body{
  margin: 0;
  padding: 0;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
  color:white;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: #515070;
  text-decoration: none;
  font-size: 25px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color:#51adcf;
}

.fa {
  padding: 10px;
  font-size: 40px;
  width: 100px;
  text-align: right;
  text-decoration: none;
}

.fa {
  padding: 10px;
  font-size: 40px;
  width: 100px;
  text-align: left;
  text-decoration: none;
}
.fa {
  padding: 10px;
  font-size: 40px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: #515070;
  text-decoration: none;
  font-size: 25px;
  transition: all ease-in-out 250ms;
}
a:hover{
  color: #51adcf;
}
p{
  font-size: 20px;
  
}